<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Рекомендаційна система відеоматеріалів</title>

    
    <link href="@Url.Content("~/Content/WorkPLZ.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.rating.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript">
        window.jQuery || document.write('<script type="text/javascript" src="~/Scripts/jquery-1.6.2.min.js"><\/script>');
    </script>
    <script type="text/javascript" src="~/Scripts/jquery.rating-2.0.js"></script>





    <script type="text/javascript">
$(function(){

	$('.rating_3').rating({
		fx: 'float',
		image: '/Content/img/stars.png',
		loader: '/Content/img/ajax-loader.gif',
        minimal: 0.1,
        url: 'rating.php',
        
        
	});
})
    </script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HD Movies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("Акаунт користувача", "UserAccMovie", "Home")</li>
                    <li>@Html.ActionLink("Про нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Рекомендаційна система відеоматеріалів</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap2")
    @RenderSection("scripts", required: false)
</body>
</html>
